<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TwentySevenTecV1">
  
 <listeners>
 	 <listener class-name="twentySevenTec.utilities.Reporting"/>
  </listeners>
  
  
  <test name="TwentySevenTec Test"> 
      
      <parameter name="browser" value="firefox"/>
      <classes>
      
   		<class name="twentySevenTec.testCases.TC_014_PurchaseMultiApplicantFMAChorleyBS"/>

	       
      <!-- <class name="twentySevenTec.testCases.TC_001_TwentySevenTecLogin"/>  -->
       <!-- <class name="twentySevenTec.testCases.TC_002_TwentySevenMortgageRequirements"/>  -->
       <!--  <class name="twentySevenTec.testCases.TC_003_TwentySevenApplicantDetails"/>   -->
       <!-- <class name="twentySevenTec.testCases.TC_004_TwentySevenPropertyDetails"/> -->
        <!--  <class name="twentySevenTec.testCases.TC_005_TwentySevenProductSearch"/> -->
	      <!-- <class name="twentySevenTec.testCases.TC_006_TwentySevenProductSelection"/> -->
	      <!-- <class name="twentySevenTec.testCases.TC007_AddressConfirmation"/> -->
	      <!-- <class name="twentySevenTec.testCases.TC_011_PurchaseSingleApplicantFMAChorleyBS"/> -->
	      <!-- <class name="twentySevenTec.testCases.TC_012_PurchaseSingleApplicantDIPChorleyBS"/> -->
	      <!-- <class name="twentySevenTec.testCases.TC_008_TwentySevenMultiApplicantDetailsEmployedandSelfEmployedEmployment"/> -->
       <!-- <class name="twentySevenTec.testCases.TC_013_PurchaseMultiApplicantDIPChorleyBS"/> -->
         <!-- <class name="twentySevenTec.testCases.TC_014_PurchaseMultiApplicantFMAChorleyBS"/> -->
	      <!-- <class name="twentySevenTec.testCases.TC_008_TC_008_TwentySevenMultiApplicantDetailsEmployedandSelfEmployedEmployment"/> -->
       <!-- <class name="twentySevenTec.testCases.AllDemoTesting"/> -->
       <!--  -->
      
      </classes>
  </test> 
   
</suite> 
